/* article.top {
    width: 1300px;
    margin: 0 auto;
}

article.top_middle {
    width: 1300px;
    margin: 0 auto;
}

article.under {
    width: 1300px;
    margin: 0 auto;
}

article.foot {
    width: 1300px;
    margin: 0 auto;
} */

/* add */
article.product_rows {
    width: 1300px;
    margin: 0 auto;
}



/*  */

/* .top .box {
    float: left;
    padding-left: 10px;
}

.top_middle .box_middle {
    float: left;
    padding-left: 10px;

}

.under .box_under {
    float: left;
    padding-left: 10px;

}

.foot .box_foot {
    float: left;
    padding-left: 10px;

} */

/* change class  */

.product_rows .box,
.box_middle,
.box_under,
.box_foot {
    float: left;
    padding-left: 10px;
}

/*  */

.border {
    width: 213px;
    border-bottom: solid 2px;
}

a {
    text-decoration: none;
}

.header_top a:hover img {
    opacity: 0.7;
}


a:hover {
    opacity: 0.7;
}

.border_box {
    margin: 15%;
}